<form (ngSubmit)="onSubmit()">
    <div class="input-group">
        <label for="initialInvestment">Initial Investment</label>
        <input name="initialInvestment" id="initialInvestment" type="number" [(ngModel)]="formDate.initialInvestment" />
    </div>
    <div class="input-group">
        <label for="annualInvestment">Annual Investment</label>
        <input name="annualInvestment" id="annualInvestment" type="number" [(ngModel)]="formDate.annualInvestment" />
    </div>
    <div class="input-group">
        <label for="duration">Duration</label>
        <input name="duration" id="duration" type="number" [(ngModel)]="formDate.duration" />
    </div>
    <div class="input-group">
        <label for="expectedReturn">Expected Return</label>
        <input name="expectedReturn" id="expectedReturn" type="number" [(ngModel)]="formDate.expectedReturn" />
    </div>
    <button type="submit">Submit</button>
</form>